<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="errors"
            fileName="${basedir}/logs/${shortdate}-errors.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|url: ${aspnet-request-url}|${message} ${exception:format=tostring}" />

    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="allfile,console" />
    <logger name="*" minlevel="Warn" writeTo="errors" />
  </rules>
</nlog>